.divOne {
    border: 5px solid #0A3981;
}

.divOne {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.divTwo {
    display: flex;
    flex: 1;

}

.divThree {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topButtonDiv {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: 12px;
}

.bottomButton {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: 12px;
}
div {
}

body {
    background-color: #D4EBF8;
}

h1 {
    color: #1F509A;
}

button {
    background-color: #E38E49;
    border: none;
    color: #1F509A;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 140px;
    font-weight: bold;
}